@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: local('Pretendard Bold'),
    url('./assets/fonts/PretendardBold.otf') format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: local('Pretendard Medium'),
    url('./assets/fonts/PretendardMedium.otf') format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: local('Pretendard Regular'),
    url('./assets/fonts/PretendardRegular.otf') format('truetype');
}

:root {
  --h1: 36px;
  --h2: 26px;
  --h3: 20px;
  --h4: 18px;
  --p1: 16px;
  --c1: 14px;
  --c2: 12px;

  --bold: 700;
  --medium: 600;
  --regular: 400;

  --h1LineHeight: 50.4px;
  --h2LineHeight: 36.4px;
  --h3LineHeight: 28px;
  --h4LineHeight: 28px;
  --p1LineHeight: 28px;
  --c1LineHeight: 24px;
  --c2LineHeight: 21px;

  --paddingContainerBase: 48px;
  --heightMainHeader: 50px;
  --heightMainMobileHeader: 58px;
  --heightNavHeader: 32px;
  --heightFooter: 50px;

  --gray0: #ffffff;
  --gray50: #fafafa;
  --gray100: #f5f5f5;
  --gray200: #e8e8e8;
  --gray300: #dbdbdb;
  --gray400: #cccccc;
  --gray500: #a8a8a8;
  --gray600: #757575;
  --gray700: #333333;
  --gray800: #212121;
  --gray900: #000000;

  --red100: #f7d7d7;
  --red200: #eeadad;
  --red300: #e58383;
  --red400: #d32f2f;
  --red500: #ab2424;
  --red600: #811b1b;
  --red700: #571212;

  --yellow100: #fff0cb;
  --yellow200: #ffecb3;
  --yellow300: #ffec3d;
  --yellow400: #fede00;
  --yellow500: #ffa000;
  --yellow600: #fb8c00;
  --yellow700: #e65100;

  --blue100: #ccddff;
  --blue200: #99bbff;
  --blue300: #3d5afe;
  --blue400: #003399;
  --blue500: #002266;
  --blue600: #001657;
  --blue700: #001133;

  --unrated: #2d2d2d;
  --bronze: #ad5600;
  --silver: #435f7a;
  --gold: #ec9a00;
  --platinum: #27e2a4;
  --diamond: #00b4fc;
  --ruby: #ff0062;

  --roseGold: #b76e79;
}
